docs/n8n-workflows/1-init-user.json
{
  "name": "RSW - Init User",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/init",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "rsw-init-user"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_BASE_ID",
          "mode": "list",
          "cachedResultName": "RSW_Workout_App"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "filterByFormula": "={email} = '{{ $json.body.email }}'",
        "options": {}
      },
      "name": "Search User in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "IF User Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"existing_user\",\n  \"email\": $('Webhook').item.json.body.email,\n  \"user\": $json[0].fields,\n  \"recent_logs\": []\n} }}",
        "options": {}
      },
      "name": "Response - Existing User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"new_user\",\n  \"email\": $('Webhook').item.json.body.email\n} }}",
        "options": {}
      },
      "name": "Response - New User",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search User in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search User in Airtable": {
      "main": [
        [
          {
            "node": "IF User Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF User Exists": {
      "main": [
        [
          {
            "node": "Response - Existing User",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response - New User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T00:00:00.000Z",
  "versionId": "1"
}
