docs/n8n-workflows/2-onboard-user.json
{
  "name": "RSW - Onboard User",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/onboard",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "rsw-onboard-user"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "first_name",
              "name": "first_name",
              "value": "={{ $json.body.first_name }}",
              "type": "string"
            },
            {
              "id": "primary_goal",
              "name": "primary_goal",
              "value": "={{ $json.body.primary_goal }}",
              "type": "string"
            },
            {
              "id": "target_days_per_week",
              "name": "target_days_per_week",
              "value": "={{ $json.body.target_days_per_week }}",
              "type": "string"
            },
            {
              "id": "biggest_obstacle",
              "name": "biggest_obstacle",
              "value": "={{ $json.body.biggest_obstacle || '' }}",
              "type": "string"
            },
            {
              "id": "created_at",
              "name": "created_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "last_active_at",
              "name": "last_active_at",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare User Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_BASE_ID",
          "mode": "list",
          "cachedResultName": "RSW_Workout_App"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "first_name": "={{ $json.first_name }}",
            "primary_goal": "={{ $json.primary_goal }}",
            "target_days_per_week": "={{ $json.target_days_per_week }}",
            "biggest_obstacle": "={{ $json.biggest_obstacle }}",
            "created_at": "={{ $json.created_at }}",
            "last_active_at": "={{ $json.last_active_at }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "name": "Create User in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"ok\",\n  \"user\": $json.fields\n} }}",
        "options": {}
      },
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare User Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare User Data": {
      "main": [
        [
          {
            "node": "Create User in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create User in Airtable": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T00:00:00.000Z",
  "versionId": "1"
}
