docs/n8n-workflows/3-log-weight.json
{
  "name": "RSW - Log Weight",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/log_weight",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "rsw-log-weight"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "email",
              "name": "email",
              "value": "={{ $json.body.email }}",
              "type": "string"
            },
            {
              "id": "week",
              "name": "week",
              "value": "={{ $json.body.week }}",
              "type": "number"
            },
            {
              "id": "day",
              "name": "day",
              "value": "={{ $json.body.day }}",
              "type": "number"
            },
            {
              "id": "exercise_name",
              "name": "exercise_name",
              "value": "={{ $json.body.exercise_name }}",
              "type": "string"
            },
            {
              "id": "weight",
              "name": "weight",
              "value": "={{ $json.body.weight }}",
              "type": "number"
            },
            {
              "id": "timestamp",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "name": "Prepare Log Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "YOUR_BASE_ID",
          "mode": "list",
          "cachedResultName": "RSW_Workout_App"
        },
        "table": {
          "__rl": true,
          "value": "workout_logs",
          "mode": "list",
          "cachedResultName": "workout_logs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "email": "={{ $json.email }}",
            "week": "={{ $json.week }}",
            "day": "={{ $json.day }}",
            "exercise_name": "={{ $json.exercise_name }}",
            "weight": "={{ $json.weight }}",
            "timestamp": "={{ $json.timestamp }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "name": "Create Log in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "YOUR_BASE_ID",
          "mode": "list",
          "cachedResultName": "RSW_Workout_App"
        },
        "table": {
          "__rl": true,
          "value": "users",
          "mode": "list",
          "cachedResultName": "users"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "last_active_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": ["email"],
          "schema": []
        },
        "options": {
          "bulkSize": 10,
          "useAppendMode": false
        }
      },
      "name": "Update User Last Active",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [650, 450],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"ok\"\n} }}",
        "options": {}
      },
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare Log Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Log Data": {
      "main": [
        [
          {
            "node": "Create Log in Airtable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update User Last Active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Log in Airtable": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T00:00:00.000Z",
  "versionId": "1"
}
