docs/n8n-workflows/4-get-logs.json
{
  "name": "RSW - Get Logs",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "api/get_logs",
        "responseMode": "lastNode",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "rsw-get-logs"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "YOUR_BASE_ID",
          "mode": "list",
          "cachedResultName": "RSW_Workout_App"
        },
        "table": {
          "__rl": true,
          "value": "workout_logs",
          "mode": "list",
          "cachedResultName": "workout_logs"
        },
        "filterByFormula": "={email} = '{{ $json.body.email }}'",
        "options": {
          "sort": [
            {
              "field": "timestamp",
              "direction": "desc"
            }
          ],
          "maxRecords": "={{ $json.body.limit || 100 }}"
        }
      },
      "name": "Search Logs in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "airtableTokenApi": {
          "id": "YOUR_AIRTABLE_CREDENTIAL_ID",
          "name": "Airtable Personal Access Token"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  \"status\": \"ok\",\n  \"logs\": $json.map(item => item.fields)\n} }}",
        "options": {}
      },
      "name": "Response - Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Search Logs in Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Logs in Airtable": {
      "main": [
        [
          {
            "node": "Response - Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-01-12T00:00:00.000Z",
  "versionId": "1"
}
